@model List<Product>

<section class="menu" >
    <div class="container mt-4 rounded" style="background-color: rgb(252, 224, 151);" ">
        <div class="card-text">
            <h1 class="text-center text-brown" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">PASTA ÇEŞİTLERİ</h1>
        </div>

        <div class="row mt-5 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-0">
                        <img src="@item.ImageUrl" class="card-img-top" alt="@item.ProductName" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title text-center">@item.ProductName</h5>
                            <hr style="height: .2rem; background-color: brown; border: none;">
                            <p class="card-text">@item.Description</p>
                            <p class="text-center font-weight-bold">@item.Price.ToString("N2") ₺</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
